body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  background-color: #f6f2ee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.title {
  font-size: 28px;
  color: #7a7354;
  margin-bottom: 40px;
}

.phone {
  background-color: black;
  border-radius: 48px;
  width: 320px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.screen {
  background-color: white;
  width: 280px;
  height: 600px;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.initials {
  font-family: 'Playfair Display', serif;
  font-size: 120px;
  font-weight: 500;
  color: black;
}

.dot {
  font-size: 12px;
  vertical-align: middle;
  margin: 0 8px;
  color: black;
}
@font-face {
  font-family: 'Imperial';
  src: url('Imperial-Regular.ttf') format('truetype');
}

.names {
  font-family: 'Imperial', cursive;
  font-size: 36px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 60px;
  letter-spacing: 1px;
}

/* 
.names {
font-family: 'Marck Script', cursive;
 
} */

.date {
  font-size: 14px;
  color: #444;
  text-transform: uppercase;
}
.invite-section {
  background: black;
   background-image: url('images/fon111.jpg');
  background-size: cover;
  border-radius: 0;
  padding: 30px 20px;
  max-width: 320px;
  margin-top: 40px;
  text-align: center;
  position: relative;
}

.greeting {
  font-family: 'Imperial', cursive;
  font-size: 32px;
  margin-bottom: 20px;
  color: #f6f2ee;
}

.invite-section p {
  font-size: 16px;
  margin: 10px 0;
  color: #f6f2ee;
   
}

.calendar {
  margin-top: 30px;

}

.month {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #f6f2ee;
  text-align: right;
}

.days {
  color: #f6f2ee;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  font-size: 18px;
  text-align: right;
}

.days span {
  padding: 5px;
}

.heart-day {
  position: relative;
  width: 45px;
  height: 45px;
  display: inline-block;
}

.heart-shape {
  width: 100%;
  height: 100%;
}

.heart-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.location-section {
  
  color: black;
  text-align: center;
  padding: 40px 20px;
}

.location-title {
  font-family: 'Imperial', cursive;
  font-size: 36px;
  margin-bottom: 20px;
}

.map {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  border: 2px solid black;
  border-radius: 4px;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 0 10px;
}
.banquet-info {
  text-align: left; /* Выравнивание по левому краю */
  padding-left: 20px; /* Чуть отступ от левого края */
}
.dress-code {
  text-align: center;
  padding: 40px 20px;
  
}

.dress-title {
  font-family: 'Imperial', cursive;
  font-size: 36px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
}

.dress-title .line {
  display: inline-block;
  width: 150px;
  height: 1px;
  background: black;
  margin-left: 10px;
  vertical-align: middle;
}

.dress-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  margin: 10px 0;
  color: #333;
  text-align: right;
}

.color-palette {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.color-box {
  width: 100px;
  height: 20px;
  border-radius: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}    

.dddd{
  background-image:url('images/foto5.jpg') ;
   background-size: cover;         /* Растягивает на весь блок */
  background-position: center;    /* Центрирует */
  background-repeat: no-repeat;   /* Не повторяется */
  padding: 60px 20px;
  text-align: center;
  color: white;
  position: relative;
}
.svadba {
      font-family: 'Imperial', cursive;
      font-size: 36px;
      margin-bottom: 40px;
      text-align: center;
      color: #f6f2ee;
    }

    .countdown {
      display: flex;
      gap: 20px;
      justify-content: center;
    }

    .unit {
      background-color: rgba(255, 255, 255, 0.85);
      opacity: 50%;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: black;
    }

    .unit span:first-child {
      font-size: 24px;
      font-weight: bold;
    }

    .unit span:last-child {
      font-size: 12px;
      margin-top: 5px;
    }


.toiy-ieleri-section {
  text-align: center;
  margin: 60px 20px;
  padding: 40px 20px;
  background-color: #f9f6f2;
  border-radius: 36px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.toiy-ieleri-section h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 32px;
  color: #222;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.toiy-ieleri-section .names {
  font-family: 'Imperial', cursive;
  font-size: 28px;
  color: #000;
  letter-spacing: 1px;
}

.final-message {
  padding: 40px 20px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  color: #2e2e2e;
}

.memory {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.goodbye {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Imperial', cursive;
}
.goodbye-section {
  background-image: url('images/foto6.jpg'); /* замените на ваш путь */
  background-size: cover;
  background-position: center;
  height: 450px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0px;
  overflow: hidden;
}

.goodbye-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 100%;
  height: 100%;
  color: white;
}

.see-you {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 42px;
  margin-top: 50px;
}

.names-final {
  font-family: 'Cormorant Garamond', serif;
  font-size: 32px;
  margin-top: 200px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.and-word {
  font-family: 'Herr Von Muellerhoff', cursive;
  font-size: 35px;
  text-transform: none;
  margin: 0 8px;
}
.ded{
  font-family:'Imperial', cursive ;
}
.music-section {
  text-align: center;
  margin-top: 40px;
}

.music-section p {
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 20px;
}

.music-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 32px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 50%;
}
.fff{
  text-align: left;
}
.fff1{
  text-align: left;
}

.credits {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: 40px;
}

.credits a {
  color: #aa6c9d;
  text-decoration: none;
}

.credits a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .title {
    font-size: 22px;
  }
  .phone {
    width: 280px;
    height: 560px;
  }
  .screen {
    width: 250px;
    height: 520px;
  }
  .initials {
    font-size: 110px;
  }
  .names {
    font-size: 20px;
  }
  .date {
    font-size: 18px;
  }
}
